@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Hygiene Clean Store! </h1>
    <p>
        You will find plenty of shower products here! <br />
        What would you like to do today?
    </p>
</div>

<div class="text-left">
    <h5> Availabilities: </h5>
    <ul>
        <li> <a asp-area="" asp-controller="Orders" asp-action="Create">Place a customer order</a></li>
        <li> <a asp-area="" asp-controller="Customers" asp-action="Create">Add a new customer</a></li>
        <li> <a asp-area="" asp-controller="Customers" asp-action="Index">Search through existing customers</a></li>
        <li> <a asp-area="" asp-controller="Orders" asp-action="Index">Display an order's details</a></li>
        <li> <a asp-area="" asp-controller="Stores" asp-action="Index">Display a store location's order history</a></li>
        <li> <a asp-area="" asp-controller="Customers" asp-action="Index">Display a customer's order history</a></li>
    </ul>
</div>

